body {
    background-color: #333;
    color: #ddd;
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

header {
    padding: 20px;
}

.field-row {
    padding: 5px;
    background-color: #778f72;
    color: #626464; /* #82e2e2; */
    border: dashed 2px #626464;
    margin: 5px;
    display: block;
    letter-spacing: 0.7em;
    overflow-wrap: break-word;
    text-shadow: 5px 5px 5px red;
}

::selection {
    background-color: red;
}

#mine-stats {
    display: none;
    background-color: #999;
    padding: 5px;
    border-radius: 5px;
    position: fixed;
    top: 10%;
    margin-left: 10px;
    opacity: 0.8;
    min-width: 150px;
    text-align: left;
}

#mine-stats span {
    display: block;
}

#action-box {
    display: none;
    background-color: #ddd;
    color: #111;
    border: solid 2px lime;
    border-radius: 10px;
    width: 300px;
    height: 150px;
}
