body {
    background-color: #333;
    color: #ddd;
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

header {
    padding: 20px;
}

.field-row {
    padding: 5px;
    background-color: #778f72;
    color: #626464; /* #82e2e2; */
    border: dashed 2px #626464;
    margin: 5px;
    display: block;
    letter-spacing: 0.7em;
    overflow-wrap: break-word;
    text-shadow: 5px 5px 5px red;
}

::selection {
    background-color: red;
}
